@use '../../styles/variables' as *;

.questionnaire-form {
  font-family: 'Quicksand', serif;
  max-width: 600px;
  background: $white;
  p {
    font-family: $font-family-roboto;
    font-size: 16px;
  }
  .form-label {
    font-family: $font-family-quicksand;
    font-weight: 700;
  }
  .form-check {
    padding-left: 50px;
    .form-check-input {
      cursor: pointer;
    }
    .form-check-label {
      font-family: $font-family-quicksand;
      width: 100%;
      cursor: pointer;
      font-weight: 700;
    }
  }
}

@media (max-width: 768px) {
  .questionnaire-form {
    margin: 0 auto;
    max-width: 450px;
    padding: 30px 20px !important;
  }
}
