$pine-green: #2f4d41;
$sand-brown: #cdb996;
$light-blue: #86a5d9;
$dark-blue: #003049;
$creme: #fdf0d5;
$red: #c1121f;
$dark-red: #780000;
$white: #ffffff;
$black: #11151c;
$midnightBlue: #212d40;
$neutralLight: #cccccc;
$dark-purple: #32213a;
$green: #619b8a;
$light-green: #6a994e;
$baby-powder: #fdfffc;
$border-active: #dadada;

$colorBgContainer: #ffffff; // Example value, adjust as needed
$borderRadiusLG: 8px; // Example value, adjust as needed
