$pine-green: #2f4d41;
$sand-brown: #cdb996;
$light-blue: #86a5d9;
$red: #c1121f;
$white: #ffffff;
$black: #11151c;
$neutralLight: #cccccc;
$blue-btn: #5d87ff;
$border-color: #E5EAEF;
$gray: #F6F8FC;
$lead-border: #ffd666;
$lead-background: #fffbe6;

$box-shadow-light: rgb(145 158 171 / 30%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
$font-family-logo: 'Archivo Black', serif;
$font-family-quicksand: 'Quicksand', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-lexend: 'Lexend Deca', serif;
