@use '../../../styles/variables' as vars;

.daily-progress {
  padding: 120px 0 80px;
  background-color: vars.$pine-green;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: vars.$pine-green;
  z-index: 1;

  .spinner-border {
    color: vars.$white;
  }
}

.daily-sales-report-widget {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.daily-progress-form {
  overflow: hidden;
  background-color: vars.$white;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
