.custom-table .ant-table-thead > tr > th {
  font-size: 12px; // Adjust the font size as needed
}

.no-wrap {
  white-space: nowrap;
}

.data-table-custom{
  background-color: #003049;
  padding: 8px;
}
