@use "../../variables.scss";

.contact {
  overflow: hidden;
  padding-bottom: 0;
  background-color: variables.$black;
  padding-top: 0;

  .contact-info {
    color: variables.$white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 80px;
    padding-left: 60px;
    a {
      color: variables.$white;
    }
    h2 {
      color: white;
    }
  }

  .contact-form {
    margin-top: 100px;
  }
}


@media screen and (max-width: 991px) {
  .contact {
    .contact-info {
      padding-top: 60px;
      padding-left: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    .contact-info {
      padding-top: 30px;
    }
  }
}