@use '../../styles/variables' as *;

.about {
  background: $pine-green;
  background: -webkit-linear-gradient(152deg, $pine-green 20%, #11151c 80%);
  background: linear-gradient(155deg, $pine-green 20%, #11151c 80%);
  color: white;
}

.about-img-wrapper {
  aspect-ratio: 4/3;
  border-radius: 16px;
}

.about-icon-wrapper {
  background-color: $black;
  border-radius: 16px;
  i {
    color: $sand-brown;
    font-size: 52px;
  }
  p {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    font-family: $font-family-quicksand;
  }
}

@media (max-width: 1400px) {
  .about-icon-wrapper {
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 1200px) {
  .about-icon-wrapper {
    i {
      font-size: 34px;
    }
    p {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .about {
    .btn-lg {
      margin-bottom: 40px;
    }
  }
}
