@use '../../styles/variables' as *;

.values {
  background: #2f4d41;
  background: -webkit-linear-gradient(38deg, #2f4d41 20%, #11151c 80%);
  background: linear-gradient(35deg, #2f4d41 20%, #11151c 80%);
  .subtitle {
    color: $white;
    margin-bottom: 60px;
  }
  .value-card {
    min-height: 100%;
    border-radius: 16px;
    padding: 20px 40px 30px;
    background: $black;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    .img-wrapper {
      width: 100%;
      max-width: 134px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    h5 {
      font-family: $font-family-quicksand;
      font-weight: 500;
      font-size: 24px;
      color: $white;
    }
    p {
      font-family: $font-family-roboto;
      text-align: left;
      font-size: 14px;
      margin-bottom: 0;
      color: $white;
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 1200px) {
  .values {
    .value-card {
      max-width: 100%;
    }
  }
}
