.questionnaire-form {
  font-family: "Quicksand", serif;
  max-width: 700px;
  background: #ffffff;
  p {
    font-size: 16px;
  }
}

.form-check-label {
  width: 100%;
  cursor: pointer;
}
s
.form-check-input {
  cursor: pointer;
}
