$pine-green: #2f4d41;
$sand-brown: #cdb996;
$light-blue: #86A5D9;
$dark-blue: #003049;
$creme: #fdf0d5;
$red: #c1121f;
$dark-red: #780000;
$white: #ffffff;
$black: #11151c;
$midnightBlue: #212D40;
$neutralLight: #cccccc;
$dark-purple: #32213A;
$green: #619b8a;
$light-green: #6a994e;
$baby-powder: #FDFFFC;
$border-active:#dadada;
